/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #252525 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}



html, body {
        background: #121212;
}
form.example {
  width: 600px;
  border: 0px solid red;
  margin-left: auto;
  background: #252525;
  margin-right: auto;
  border-radius: 400px;
  display: block;
  box-shadow: 0px 0px 5px 5px rgba(1,1,1,.2);
  
}


form.example input[type=text] {
  padding: 12px 5px 12px 1px;
  font-size: 14px;
  border: 0px solid #2b2b2b;
  width: 550px;
  background: #252525;
  color: #fff;
  border-right: 0px;
  border-radius: 0px 400px 400px 0px;
  font: 400 14px Arial;
}

*:focus {
  outline: none;
}
form.example:hover {
  box-shadow: 0px 0px 5px 5px rgba(1,1,1,.18);
  outline: none;
}

form.example button {
  width: 50px;
  padding: 13px 5px;
  background: #252525;
  color: #111;
  border: 0px solid #2b2b2b;
  border-left: none;
  cursor: pointer;
  border-radius: 400px 0 0 400px;
  border-left: 0px;
}



form.example::after {
  content: "";
  clear: both;
  display: table;
}
