/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #252525 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}





/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




body,h1,h2,h3,p,quote,small,form,input,ul,le,ol,label{
	margin:0px;
	padding:0px;
	font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
}

body{
	margin-top: 0px;
	color:#5a5a5a;
	font-size:13px; /* 13 is best view */
	background-color:#101010;
	text-align: left;
	z-index: -4;

}

td {
	font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	color: #a5a5a5;
}
td a {
	color: #6AC045;
}
th {
	font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	color: #a5a5a5;
	background: #333;
}
tr {
	font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	color: #a5a5a5;
	background: #333;
}


.redme990 {
	width: 210px;
	margin-left:auto;
	margin-right: auto;
	display: block;
	border: 1px solid #121212;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
}
.tooltip98:hover {
	text-decoration: underline;
}
.tooltip97:hover {
	text-decoration: underline;
}
.tooltip96:hover {
	text-decoration: underline;
}


.tooltip98 {
  position: relative;
  display: inline;
  margin-right: 2px;
  font-size: 1em;
  color:#7a7a7a;
}


.tooltip98 .tooltiptext98 {
  visibility: hidden;
  height: 357px;
  max-height: 500px;
  width: 220px;
  background-color: #252525;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 8px 5px;
  font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -175px;
  overflow: hidden;
}

.tooltip98:hover .tooltiptext98 {
  visibility: visible;
}




.tooltip97 {
  position: relative;
  display: inline;
  margin-right: 0px;
  font-size: 1em;
  color:#7a7a7a;
}

.tooltip97 .tooltiptext97 {
  visibility: hidden;
  height: 357px;
  width: 220px;
  background-color: #252525;
  color: #fff;
  border-radius: 4px;
  padding: 8px 5px;
  font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -145px;
  overflow: auto;
}

.tooltip97:hover .tooltiptext97 {
  visibility: visible;
}
.tooltiptext97 img {
  max-width: 190px;
}


.tooltip96 {
  position: relative;
  display: inline;
  font-size: 1em;
  color:#7a7a7a;
}

.tooltip96 .tooltiptext96 {
  visibility: hidden;
  height: 357px;
  max-height: 500px;
  width: 220px;
  max-width: 800px;
  background-color: #252525;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 8px 5px;
  font: normal small-caps 13px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -82px;
  overflow: auto;
  overflow-x: hidden;
}

.tooltip96:hover .tooltiptext96 {
  visibility: visible;
}




.steamonline {
	color: #fff;
	padding: 0px 12px;
	font: normal small-caps 12px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	border-radius: 4px;
}

.lazyloading {
  background: #121212 url(https://lh3.googleusercontent.com/KJA5wHPtE4JylfCQIpjmSrijVt2obKBC3wLB-hyrTGURcyZIBVmPcg8gIUUeJnHOhxXSeBFSuGFmMlhTtoSAoBKZwqVuCqq-i0gTyLLRzTRNsS9ktps0_10ZdNIy_EqnOwd5uI9-nw=s64-p-k) no-repeat center;
  height: 315px;
  width: 210px;
}
.lazyload {
  background: #121212 url(https://lh3.googleusercontent.com/KJA5wHPtE4JylfCQIpjmSrijVt2obKBC3wLB-hyrTGURcyZIBVmPcg8gIUUeJnHOhxXSeBFSuGFmMlhTtoSAoBKZwqVuCqq-i0gTyLLRzTRNsS9ktps0_10ZdNIy_EqnOwd5uI9-nw=s64-p-k) no-repeat center;
  height: 315px;
  width: 210px;
}
select {
  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition-duration: .5s;
  
  
  
	background-color: #1d1d1d;
	color: #bbbbbb;
	padding: 7px 35px 7px 5px;
	border: 0px solid #1d1d1d;
	cursor: pointer;
    text-align: center;
	font: normal 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	border-radius: 4px;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #a5a5a5 50%),
    linear-gradient(135deg, #a5a5a5 50%, transparent 50%),
    linear-gradient(to right, #1d1d1d, #1d1d1d);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, #1d1d1d, #1d1d1d);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
.goinse a {
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	padding: 10px 30px;
	
}
.goinse {
	text-align: center;
	
}
@font-face {
  font-family: myFirstFont01;
  src: url(Zenzai-Itacha.ttf);
}
@font-face {
  font-family: listoflist02;
  src: url(YouTube-Sans-Light.otf);
}


.main88 {
  margin-right: 0px; /* Same as the width of the sidenav */
  padding: 0px 0px;
}

.container88 {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-right88 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.#SCREENSHOTS {
	width: 200px;
}
.logopng{
	height: 72px;
	padding: 8px 0px 0px 80px;
}
.clear{
	clear:both;
}

a, a:visited {
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration: none;
}

#rounded{
	margin: 0px auto;
	text-align:left;
}

.container{
background-color: #121212;
}



#pageContent{
	margin-top:0px;
	padding:10px;
		
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
}

#loading{
	visibility: visible;
}

.demo{
	color: red;
	background-color: #252525;
	padding:50px 0 0 0px;
	font-size: 13px;
}



ln a:link, ln a:visited {
    text-decoration: none;
	color: #7a7a7a;
	margin-top: -10px;
}
ln a:link, ln a:hover {
}


ln a:hover, ln a:active {
	color: green;
}





/* Collapsible div */

.collapsiblea {
    background-color: #000000;
    color: white;
    cursor: pointer;
    text-align: right;
	z-index: 2;
	float: left;/* Should be removed. Only for demonstration */
    width: 182px;
}



.collapsiblea:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #f1f1f1;
} 



.other-cell {
   display:none;
}

/* checkbox css start */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	box-shadow: none;
}

label {
	cursor: pointer;
	text-indent: -2222px;
	width: 50px;
	height: 25px;
	background: grey;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 7px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 40px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
	box-shadow: none;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
	box-shadow: none;
}

label:active:after {
	width: 60px;
}

/* checkbox css end*/
/*position of switch*/
label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:2px;
}
/* === popup media player css start === */

/* background overlay */

#mPlayer {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
}

/* video player */

#mPlayer DIV {
  position: fixed;
  background: #000;
  width: 560px; /* width of YouTube Player */
  height: 315px; /* height of YouTube Player */
  left: calc(50vw - 280px); /* 280 is .5(560), centers x axis*/
  top: calc(50vh - 157px); /* 157 is .5(315), centers y axis*/
}

/* === popup media player css end === */
/* ====== simple snackbar =========*/
.snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: left;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
/* =========== simple snackbar end ===============*/
/* =========== warning for js disabled browser start ===*/
#noJS {
  border-style: solid;
  border-color: coral;
}
/* =========== warning for js disabled browser end ===*/

/* =========== css for autocomplete dropdown start ===*/


.searchmiddle {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}
.searchmiddle2 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
      width: 90%;
    max-width: 1200px;
	margin-top: 10px;
}

/******* dropdown results css **********/

.element {
    display: block;
    top: 30px;
}
.ui-widget.ui-widget-content {
    border: 10px solid #252525;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-widget-content {
    border: 0px solid #dddddd;
    background: #252525;
    color: #fff;
}
.ui-widget {
    font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-front {
    z-index: 100;
} /********** *********/
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	color: #fff;
	font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	text-decoration: underline;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #fff;
	text-decoration: none;
	font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}
/*  importent modified later*/
.ui-menu-item .imdbTitle{
    font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.ui-menu-item .imdbCast{
    line-height: 110%;
    color: #666;
}
.ui-menu-item .imdbImage{
    float: left;
    margin-right: 5px;
}
.ui-menu-item .clear{
    clear: both;
}
.ui-autocomplete {
	position: absolute;
	left: 105px;
}
#results{ 
    float:  left;
    position: absolute;
}
/* =========== css for autocomplete dropdown end   ===*/
.container {
}
.column {
  float: left;
  max-width: 210px;
  padding: 5px;
  height:  450px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.widthman {
	width: 1200px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container1 {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}
.enginecolor {
	display: inline-block;
	color: #fff;
	font-family: sans-serif;
	font: normal small-caps 17px/0px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    transition-duration: .5s;
    font-weight: 500;
	 margin-right: 20px;
}
.text1 {
  padding: 12px 5px 12px 1px;
  font-size: 14px;
  border: 0px solid #2b2b2b;
  width: 554px;
  background: #252525;
  color: #fff;
  border-right: 0px;
  border-radius: 0px 4px 4px 0px;
  font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
}
.exampless {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	display: block;
}
.example {
  width: 600px;
  border: 0px solid red;
  margin-left: 0px;
  background: #252525;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
  
  
}
.example button {
  width: 40px;
  padding: 13px 5px;
  background: #252525;
  color: #111;
  border: 0px solid #2b2b2b;
  border-left: none;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border-left: 0px;
}

.text2{
	background: #fff;
	padding: 6px 16px; 
	border: 1px solid #fff;
	color: #111;
    font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	border-radius: 4px;
	cursor: pointer;
}
.text2:hover {
	
}
.text2:focus {
	background: #007dfc;
	color: #fff;
	border: 1px solid #007dfc;
	border-radius: 4px;
}

.androidpic{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
	
}
.titleofmovie {
	font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	padding: 6px 0px 2px 0px; 
	max-width: 210px;
	color:#fff;
	line-height: 1.5;
}

.imdbrating {
	font-size: .97em;
	font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif; 
	font-weight:bold;
	color:#f5c618;
	text-align: right;
}

/* --------------------------------------------------------------------------720p----------------------------------------------------------------  */

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 7px 8px;
    text-decoration: none;
	background-color: #111111;
	color: #595656;
	font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif; 
	font-weight:bold;
	text-decoration: none;
	font-size: 0.98em;
	border-radius: 5px;
	
}

.buttonDownload:hover {
	background-color: #111111;
	color: #fff;
	text-decoration: none;
	-webkit-transition: .5s;
}



/* Style the footer */


/* Create two equal columns that floats next to each other */
.column007 {
  float: left;/* Should be removed. Only for demonstration */

}
.column0071 {
  float: left;/* Should be removed. Only for demonstration */
  
}

.headertotop {
	width: 100%;
	background: #121212;
	
}

.center0001 {
  display: inline;
}
.amazonLink {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1080px;
}

.amazonLink__image {
  display: inline-block;
  line-height: 40px;
  
}

.amazonLink__text {
  display: inline-block;
  position: absolute;
  top: 0px;
  margin-left: 130px;
  font-size: 25px;
  color: #fff;
}


.imgover{
}
.imgover:hover{
	-webkit-transition: .3s;
}

/* -----------------------------------------------------------------------------------img hover----------------------------------------------- */
.container02 {
  position: relative;
    margin: auto;
    overflow: hidden;
  width: 210px;
  border-radius: 0px;
  z-index: 0;
  margin-left: auto;
  box-shadow: 0px 0px 5px 5px rgba(1,1,1,.4);
}
.container02:hover {
	
}

.container02 img {
    max-width: 100%;
    transition: all 1.5s;
    width: 100%;
    max-height: 315px;
    transform: scale(1);
}

.container02:hover img {
    transform: scale(1.1);
}
.mad89900 img {
	display: none;
}
.image {
  display: block;
  width: 170px;
  height: 255px;
}

.overlay02 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlay02:hover {
  opacity: .79;
  cursor: pointer;
}


.text02 {
  color: #fff;
  position: absolute;
  -webkit-transition: 1s;
  padding: 70px 20px 0px 20px; 
  width: 170px;
  font: normal small-caps 14px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.top01-left {
  position: absolute;
  top: 8px;
  left: -18px;
  color: #fff;
  background: #00F260;
        background: -webkit-linear-gradient(to right, green, #00F260);
        background: linear-gradient(to right, green, #5da93c);
  padding: 2px 13px 1px 13px;
  z-index: 1;
  font-weight: bold;
}

.oneline01 {
	display: inline-block;
	position: relative;
	padding: 1px;
    text-decoration: none;
	background-color: #111111;
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,.16);
	margin-bottom: 5px;
	
}
.oneline01:hover {
	text-decoration: none;
	-webkit-transition: .5s;
	border: 1px solid ;
}
.linktorrent01 {
	font-size: 0.98em;
	color: #fff;
	font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif; 
	background: rgba(27,27,35,.4);
	padding: 5px 11px;
	border-radius: 3px;
	
}
.linktorrent01:hover {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 0.7s;
	
}


.home01 {
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
	padding: 10px 20px;
	font: normal small-caps 12px -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	border: 1px solid #a5a5a5;
}
.home01:hover {
	color: #a5a5a5;
}
.previous {
  background: #00F260;background: -webkit-linear-gradient(to right, green, #00F260);background: linear-gradient(to right, green, #5da93c);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
   border-radius: 50%;
}

.next {
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
   border-radius: 50%;
}


.previous:hover {
  background-color: green;
  color: #fff;
}
.next:hover {
  background-color: green;
  color: #fff;
}


.linktorrent01 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: linear-gradient(45deg, rgb(0,143,104), green);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 6px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.linktorrent01:hover .tooltiptext {
  visibility: visible;
}


*:focus {
    outline: none;
}
/* -----------------------------------------------------------------------------------The End  img hover----------------------------------------------- */
.button001 {
  background: linear-gradient(to right, #05FBFF,#1E00FF);
  border-radius: 8px;
  color: #122dff;
  display: inline-block;
  font-size: 13px;
  padding: 1px;
  text-decoration: none;
}
.button001 span {
  background: black;
  display: block;
  padding: 1em 3em;
  border-radius: 6px;
}
.mad89900 {
	font-size: 13px;
	color: #7a7a7a;
	font-weight: 400;
}

/*--------------------------------------------------------------------------------end search------------------------*/


 @media screen and (max-width: 1080px) {
  .container {
  font-size: 13px;
  text-align: left;
  max-width: 100%
}
}

